<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for title, field in details %}
                <tr>
                    <td>{{ title }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>